body {
  width: 1200px;
  margin: auto;
}

/*
=====================
General Use
=====================
*/

.salePrice {
  color: red;
}

.strikethrough {
  text-decoration: line-through;
}

path {
  pointer-events: none;
}

/*
=====================
Header
=====================
*/

#pageHeader {
  /* background-color: burlywood; */
}

#pageHeader h1 {
  margin: 0;
  height: 80px;
}

#announcement {
  /* background-color: coral; */
  height: 50px;
}

/*
=====================
Overview Module
=====================
*/

#overview {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 52% 2% 36%;
  grid-template-rows: auto auto auto auto auto 60px auto auto 60px;
  font-size: large;
}

/* Image Gallery */

#overviewImageGallery {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 57vh;
  min-height: 500px;
  max-height: 800px;
  display: grid;
  grid-template-rows: 7% repeat(7, 1fr) 7%;
  grid-template-columns: 7% 10% 10% auto 7%;
}

#overviewImageGallery.full {
  grid-column-start: 1;
  grid-column-end: 5;
}

#overviewBigImage {
  height: 100%;
  min-height: 500px;
  width: 100%;
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 11;
  z-index: 5;
  transition: width 200ms;
}

#overviewBigImage:hover {
  cursor: zoom-in;
}

#overviewBigImage.full {
  width: 1200px;
}

#overviewBigImage.full:hover {
  cursor: zoom-out;
}

.thumbnail {
  height: 5.7vh;
  min-height: 50px;
  max-height: 80px;
  width: 5.7vh;
  min-width: 50px;
  max-width: 80px;
  object-fit: cover;
  border: black solid 1px;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 11;
  z-index: 6;
  transition: width 200ms;
}

.thumbnail:hover {
  cursor: pointer;
}

.thumbnail.chosen {
  box-shadow: -5px -5px 2px rgba(255, 255, 255, 1);
  border-color: white;
  position: relative;
  top: 5px;
  left: 5px;
  width: 8vh;
}

#fullScreenButton {
  grid-row: 2;
  grid-column: 5;
  z-index: 6;
}

.overviewArrow {
  z-index: 7;
  background: none;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.overviewArrow:hover {
  cursor: pointer;
}

.overviewArrow:focus {
  outline: none;
}

#overviewArrowLeft,
#overviewArrowRight {
  grid-row: 5;
  margin: auto;
}

#overviewArrowDown,
#overviewArrowUp {
  grid-column: 2;
  margin: auto 30% auto auto;
}

#overviewArrowUp {
  grid-row: 1;
}

#overviewArrowDown {
  grid-row: 9;
  margin-top: 0;
}

#overviewArrowLeft {
  grid-column: 3;
  margin-left: 12%;
}

#overviewArrowRight {
  grid-column: 5;
}

#overviewArrowDownIcon,
#overviewArrowUpIcon {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: radial-gradient(rgba(255, 255, 255, 0.3), transparent);
}

#overviewArrowLeftIcon,
#overviewArrowRightIcon {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: radial-gradient(rgba(255, 255, 255, 0.3), transparent);
}

/* Basic Info */

#overviewBasicInfo {
  width: 75%;
  grid-row: 1;
  grid-column: 4;
  margin-top: 10%;
  min-height: 10vh;
}

#overviewBasicInfo p {
  margin-bottom: 0;
}

.noReviews {
  font-size: 14px;
}

#readAllReviews a {
  font-size: smaller;
  color: black;
}

#overviewBasicInfo span {
  line-height: 1;
  margin-left: 0;
}

#overviewBasicInfo h1 {
  margin: 0 0 20px 0;
}

/* Style Selector */

#overviewStyleSelector {
  width: 75%;
  grid-row: 2;
  grid-column: 4;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 30px repeat(auto, 60px);
}

#selectedStyleName {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 20px 0;
}

.overviewStyleItemContainer {
  position: relative;
  height: 80px;
}

.overviewStyleItem {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: solid 1px;
  background-size: cover;
}

.overviewStyleItem:hover {
  border: solid 1px grey;
  background-color: grey;
  cursor: pointer;
}

.overviewStyleItem:focus {
  outline: none;
}

.selectedCheck {
  color: white;
  background-color: black;
  height: 18px;
  border-radius: 9px;
  z-index: 4;
  position: absolute;
  bottom: 65px;
  left: 45px;
}

/* Add To Cart */

#overviewAddToCart {
  /* height: 10vh;
  min-height: 100px; */
  grid-row: 4;
  grid-column: 4;
  display: grid;
  grid-template-columns: auto 15px auto;
  grid-template-rows: 60px 15px 60px;
}

#overviewSizeSelector,
#overviewQuantitySelector {
  height: 100%;
  width: 100%;
  text-align: center;
  text-align-last: center;
  font-size: x-large;
}

#overviewQuantitySelector {
  /* margin-left: 5%; */
  grid-column: 3;
}

#overviewAddToCartButton {
  /* margin-top: 2%; */
  height: 100%;
  width: 100%;
  grid-column: 1 / 4;
  grid-row: 3;
  font-size: x-large;
}

#addToCartPlus {
  float: right;
}

/* Production Information */

#overviewProductInformation {
  grid-row: 7;
  grid-column: 2;
  font-size: medium;
}

#overviewProductInformation h3 {
  margin-top: 0;
}

.smIcon {
  height: 20px;
  width: 20px;
  margin: 0 20px 0 0;
}

.smIcon:hover {
  color: grey;
}

.smIcon:active {
  animation-name: shareAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
}

@keyframes shareAnimation {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: violet;
  }
}

/* Feature List */

#overviewFeatureList {
  grid-row: 7;
  grid-column: 4;
  margin: 0;
  border-left: black solid 2px;
}

#overviewFeatureList li {
  list-style-position: outside;
  list-style-type: '✓';
  line-height: 2;
  font-size: medium;
}

/*
=====================
LModule
=====================
*/

.LModule {
  display: flex;
  justify-content: space-between;
}

article {
  width: 90%;
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px;
}

hr {
  height: 1px;
  background-color: rgb(0, 0, 0);
}

.stars {
  float: left;
}

.DateandUser {
  float: right;
}

.emptystars {
  position: relative;
  font-family: FontAwesome;
  top: 0;
  left: 0;
}

.filledstars {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
}

.emptystars::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.filledstars::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f7d200;
}

.recommended {
  padding-left: 15px;
}
.recommended li {
  list-style-type: '✓';
}

.recommended li span {
  position: relative;
  left: 5px;
}

.LModButton {
  padding: 8px 12px;
  margin: 5px;
  border: 2px solid grey;
  background: 0;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
}

.LModButton:hover {
  background: #8a068f;
  color: #fff;
  border: 2px solid #8a068f;
}

.sortingList {
  display: inline-block;
  position: relative;
  margin-left: 6px;
  list-style: none;
  text-align: left;
  padding: 0;
  top: 0;
  left: 0;
}

.sortingList span {
  transition: all 1s;
  color: #7b00ff;
  position: relative;
}

.sortingList span::after {
  position: absolute;
  content: '';
  height: 5px;
  width: 0;
  left: 0;
  background-color: purple;
  bottom: 0;
  transition: all 0.5s ease-out;
}

.sortingList span:hover::after {
  width: 100%;
}

.sortingList span:hover {
  cursor: pointer;
  color: purple;
}

.currentSort {
  text-align: left;
  border-bottom: 2px solid;
  cursor: pointer;
}

.currentSort:hover {
  color: #7b00ff;
}

/*
=====================
QuestionsModule
*/

#questions-and-answers-container {
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18pt;
  margin: auto;
  width: 100%;
}

#questions-and-answers-header {
  background-color: white;
  font-weight: 200;
  padding-top: 60px;
  padding-left: 2px;
  padding-bottom: 20px;
}

#question-search-field {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  flex: auto;
  margin-bottom: 4px;
  border-radius: 2px;
}

#question-search-field-input {
  outline: none;
  border: none;
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
  width: 99%;
  font-weight: bold;
  font-size: 14pt;
}

#question-search-field-input::placeholder {
  font-weight: bold;
  font-size: 14pt;
}

#question-search-submit-button {
  float: right;
  width: 10%;
  padding-top: 8px;
  margin-right: 200px;
  position: absolute;
  z-index: 1;
  transform: translateX(-55px);
}

#question-and-answer-item-container {
  font-weight: bold;
  font-size: 14pt;
}

#question-item-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: lightcyan;
  padding-left: 8px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.question-response-options {
  display: inline-flex;
  width: 18%;
  float: right;
  margin-left: 90px;
}

.upvote-question-button {
  width: 8%;
  font-size: 10pt;
  font-weight: 100;
  padding-right: 45px;
  padding-top: 6px;
}

.add-answer-button {
  font-size: 10pt;
  font-weight: 100;
  padding-left: 10px;
  padding-top: 6px;
  width: 30%;
  white-space: nowrap;
}

.small-divider-question {
  font-size: 16pt;
  font-weight: 200;
  padding-bottom: 8px;
}

.small-divider-answer {
  font-size: 16pt;
  font-weight: 200;
  transform: translateY(-8px);
}

.question-text {
  width: 88%;
}

#answers-container {
  background-color: seashell;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 20px;
}
.answer-item {
  padding-bottom: 10px;
}

.a-for-answer-and-answer-text {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding-top: 6px;
}
.answer-text {
  font-weight: 200;
  width: 80%;
  padding-left: 5px;
}

#no-matching-queries-message {
  font-weight: 100;
  width: 100%;
  text-align: center;
  background-color: lightcoral;
}

.post-question-container {
  display: flex;
}

.question-view-button-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding-top: 10px;
  gap: 20px;
}

.add-a-question-button {
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  font-weight: 500;
  font-size: 18pt;
}

#user-info-and-date {
  font-weight: 200;
  font-size: 12pt;
  padding-left: 36px;
}

.lower-answer-container {
  padding-top: 10px;
}

.show-more-less-answers {
  display: flex;
  font-size: 10pt;
  font-weight: 100;
  margin-left: 35px;
  gap: 10px;
}

.upvote-answer-button {
  font-size: 10pt;
  font-weight: 200;
  padding-left: 6px;
  padding-right: 2px;
}
.report-answer-button {
  font-size: 10pt;
  font-weight: 200;
}

.post-answer-error {
  background-color: lightcoral;
}
/*
=====================
Related Items Module
=====================
*/

.productlistoutercontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
  padding-bottom: 10px;
  padding-top: 5px;
  border-width: 1px;
  border: red;
}

.productlistcontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: aquamarine;
}

.card {
  width: 22vh;
  height: 33vh;
  position: relative;
  background: white;
  margin: 1.5vh;
  overflow: auto;
  word-wrap: break-word;
  contain: strict;
  border-radius: 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.card:hover {
  transform: scale(1);
  transition: 0.5s;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.icon {
  position: absolute;
  right: 9px;
  top: 9px;
  color: red;
  background-color: blue;
  opacity: 1;
}
.icon:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.productcard {
  line-height: 12px;
  /* padding-left: 10px; */
}

.cardimage {
  height: 58%;
  width: 100%;
  background: url(https://www.luvbat.com/uploads/happy_frog__9265232477.jpg);
  overflow: hidden;
  background-size: cover;
  border-radius: 10px;
}
.cardinfo {
  line-height: 12px;
  padding: 10px;
}

.addtooutfit {
  padding-top: 80px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: rgb(44, 108, 128);
  position: relative;
  margin: auto;
}
.circle::after {
  content: ' ';
  position: absolute;
  display: block;
  background-color: #fff;
  height: 10px;
  margin-top: -5px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.circle::before {
  content: ' ';
  position: absolute;
  display: block;
  background-color: #fff;
  width: 10px;
  margin-left: -5px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}
