body {
  max-width: 114vh;
  margin: auto;
}

#overview {
  width: 100%;
  height: 82vh;
  display: grid;
  grid-template-columns: 62% 38%;
  grid-template-rows: 25% 21% 25% 29%;
}

#imageGallery {
  background-color: purple;
  grid-row-start: 1;
  grid-row-end: 4;
}

#basicInfo {
  background-color: indigo;
  grid-row: 1;
}

#styleSelector {
  background-color: blueviolet;
  grid-row: 2;
}

#addToCart {
  background-color: darkorchid;
  grid-row: 3;
}

#productInformation {
  background-color: fuchsia;
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
